.carsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-wrapper {
    margin-right: 10px;
    background-color: aliceblue;
    padding: 20px;
    text-align: center;
}
.img-wrapper {
    width: 150px;
    height: 150px;
}
.img-wrapper img {
    width: 150px;
    height: 150px;
}